/** @format */

$smallfont: 24px;

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.dateContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.treatsContainer,
.roomsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

i {
  font-size: $smallfont;
  margin: 16px;
  cursor: pointer;
  padding: 16px;
}

.far {
  color: red;
}
.fa-pen-square {
  color: blue;
}
.fa-cart-plus {
  color: green;
  text-align: center;
}

.room,
.treat {
  margin: 24px;
  padding: 16px;
  border: solid 2px saddlebrown;
  border-radius: 5px;
  box-shadow: sandybrown 8px 8px;
}

input {
  font-size: $smallfont;
}

ul {
  display: flex;
}

.cart {
  position: relative;
  color: white;
  cursor: pointer;
}

.koszyk {
  display: none;
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 1;
  padding: 16px;

  background-color: #fff;
}
.handler {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  p {
    font-size: 16px;
  }
}
