/** @format */

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.newuser,
.existuser {
  display: flex;
  flex-direction: column;

  padding: 24px;
  margin: 24px;
  border: peru solid;
}

.newuser input,
.existuser input {
  margin-bottom: 16px;
}
