/** @format */

@import '../node_modules/font-awesome/scss/font-awesome.scss';

body {
  background-image: url(./img/wood_pattern.png);
}

.slide {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 16px;
}

.userlogin {
  color: yellow;
  padding: 0 15px;
}
.continueShopping {
  padding: 8px;
  margin: 24px;
  width: 30%;
  align-self: center;
  background-color: rgb(224, 187, 66);
  border-radius: 24px;
  font-size: 24px;
  font-weight: bold;
  border: solid 2px black;
}

:root {
  --btnlink-fontsize-small: 28px;
  --btnlink-fontsize-medium: 24px;
  --btnlink-fontsize-large: 22px;
}

@media (max-device-width: 361px) {
  .btn-link {
    font-size: var(--btnlink-fontsize-small);
  }
  .cart {
    font-size: 32px;
  }
  h2 {
    margin: 24px;
    font-size: 64px;
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-device-width: 640px) {
  .btn-link {
    font-size: var(--btnlink-fontsize-medium);
  }
  .cart {
    font-size: 24px;
  }
  h2 {
    margin: 24px;
    font-size: 32px;
  }
}
